@{
}
@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>

<p>You have at least one claim from the list if you see this page.</p>

<ul>
    <li>HasForumAccess</li>
    <li>IsVerifiedClient</li>
    <li>IsMentor</li>
</ul>