html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
  background-color: black !important;
  font-family: 'Fira Code', monospace;
}

.form-group {
    padding: 5px 0px;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
}

h1, h2, h3, .title {
    font-family: 'Press Start 2P';
    letter-spacing: 2px;
}
